*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}
html,body{
  overflow-x: hidden;
}
/* Navbar */
.nav-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.nav-body{
  display: flex;
  width: 87%;
  justify-content: space-between;
  align-items: center;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 20px;
    margin-left: 12px;
    cursor: pointer;
  }
    img{
      width: 30px;
      height: 35px;
      cursor: pointer;
    }
}
.nav-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    /* margin-left: 20px; */
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    li{
      cursor: pointer;
      /* margin-left: 20px; */
      margin-left: 10px;
      img{
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }

}
.hamburger{
  display: none !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  p{
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 50px;
    z-index: 9999;
    transition: transform ease .3s;
  }
  /* P:nth-child(1){
    top: 2px;
  }
  P:nth-child(2){
    bottom: 2px;
  } */
}
.il{
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  img{
    z-index: 9999;
    position: absolute;
    transition: right ease .6s,top ease .6s;
  }
  img:nth-child(1){
      right: -500px;
  }
  img:nth-child(2){
    top: -200px;
}
}
.sidebar{
  position: fixed;
  z-index: 999;
  top: 0;
  right: -500px;
  width: 400px;
  height: 100vh;
  background-color: rgba(255, 245, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  transition: right ease .6s;
}
.sidebar-op{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
          cursor: pointer;
        }
        
}
.bar{
  width: 300px;
  height: 1px;
  background-color: black;
  align-self: center;
  cursor: none !important;
}
.HBC{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hbb{
  /* height: 100%; */
  width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.hbb1{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 60px;
.hbody{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  h3{
    display: flex;
    flex-direction: column;
    span{
      font-weight: 300;
    }
  }
  h1{
    display: flex;
    align-items: center;
    gap: 10px;
    span:nth-child(1){
      font-weight: 500;
    }
    span:nth-child(3){
      margin-left: -3px;
      margin-bottom: 6px;
    }
    span:nth-child(2){
      color: rgb(115,115,115);
      border-bottom: 3px solid black;
    }
  }
  button{
    color: white;
    background-image: linear-gradient(to right,rgb(50,246,246),rgb(166,167,159));
    border: 0;
    width: 105px;
    height: 37px;
    font-size: larger;
    font-weight: 600;
    border-radius: 60px 60px 60px 0px;
    cursor: pointer;
  }
}
}
.hbbutton{
  display: flex;
  gap: 20px;
  margin-left: 30px;
  button{
    border: 2px solid white;
    width: 100px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  button:nth-child(2){
    background-image: linear-gradient(to right,rgb(67,67,67),rgb(0,0,0));
  }
  button:nth-child(1){
    background-image: linear-gradient(to right,rgb(223,88,12),rgb(253,153,61));
  }
}
.img{
  width: 50%;
  display: flex;
justify-content: end;
  img{
    
   width: 80%;
   height: 100%;
  }
 }
 .ig{
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  width: 25px !important;
  height: 25px !important;
 }
 .social{
  position: fixed;
  left: 55px;
  bottom: 35px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 12px;
  img{
    width: 25px;
    cursor: pointer;
  }
 }
 .mail{
  position: fixed;
  display: flex;
  gap: 20px;
  align-items: center;
  right: -10px;
  bottom: 100px;
  z-index: 9999;
  transform: rotate(270deg);
  p{
    font-size: 10px;
  }
  p:nth-child(1){
    width: 4px;
    height: 20px;
    background-color: black;
  }
 }
.about{
  width: 100vw;
  /* overflow-y: hidden; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
  z-index: 999;
}
.ex{
  width: 60vw;
  height: 100px;
}
.aboutbody{
  /* height: 100%; */
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 150px;
  gap: 30px;
}
.headl{
  display: flex;
  align-items: last baseline;
  width: 100%;
  /* position: absolute; */
  /* justify-content: space-evenly; */
  h1{
    /* width: 30%; */
    display: flex;
    flex-wrap: nowrap;
    font-weight: 500;
    .p{
      font-weight: bold;
      margin-right: 3px;
    }
  }
}
.tl{
  width: 60%;
  height: .5px;
  background-color: rgba(0,0,0,.6);
  margin-left: 10%;
}
.bl{
  width: 30%;
  height: .5px;
  background-color: rgba(0,0,0,.6);
  margin-top: 30px;
  align-self: center;
  
}
.para{
  
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.b1,.b2,.b3,.b4,.hand{
  position: absolute;
  width: 250px;
  z-index: -999;
}
.b1{
    right: 0;
    top: -16px;
}
.b2{
  left: -24px;
  top: -15px;
}
.b3{
  right: 150px;
  bottom: -50px;
}
.b4{
  bottom: -50px;
  left: 150px;
}
.hand{
  left: 0;
  top: -20px;
}
@media screen and (max-width: 853px) {
  .b4{
    left: 100px;
  }
  .b3{
    right: 100px;
  }
  .hand{
    display: none;
  }
  .b1,.b2,.b3,.b4,.hand{
    width: 170px;
  }
  .tl{
    width: 40%;
  }
  .para{
    p{
     font-size: 13px;
    }
  }
  .aboutbody{
    margin-left: 0px;
    width: 80%;
  }
  .headl{
    h1{
      font-size: 20px;
    }
  }
  .mail{
    right: -50px;
  }
 .social{
  left: 30px;
 }
  .hbb{
    flex-direction: column-reverse;
    width: 80%;
  }
 .hbb1{
  width: 100%;
  .hbody{
    button{
      height: 30px;
      width: 90px;
      font-size: medium;

    }
  }
 }
    .hbbutton{
      justify-content: space-evenly;
      margin-left: 20px;
    } 
  .img{
    width: 100%;
    justify-content: center;
    img{
      width: 250px;
    }
  }
  .nav-body{
    width: 94%;
  }
  .hamburger{
    display: block !important;
  }
  .il{
    width: 24px;
        height: 24px;
  }
  .nav-option{
    ul{
      justify-content: end;
     li{
      margin-left: 20px;
      img{
        width: 24px;
        height: 24px;
      }
     }
      .l{
        display: none;
      }

    }

  }
  .head{
    h1{
      font-size: 16px;
    }
    img{
      width: 23px;
      height: 27px;
    }
  }
  .sidebar{
    display: flex;
  }
}
@media screen and (max-width: 550px) {
  .headl{
    margin-top: 130px;
  }
  .sidebar{
    width: 100vw;
  }
  .sidebar-op{
    align-items: center;
  }
  .social{
    left: 10px;
    img{
      width: 17px !important;
      height: 17px !important;
    }
  }
  .ig{
    padding: 1px;
    border: 1px solid black;
  }
  .hbody{
    margin-left: 20px !important;
  }
  .mail{
    right: -65px;
  }
  .b1,.b2,.b3,.b4,.hand{
    width: 130px;
  }
  .b3{
    right: 30px;
  }
  .b4{
    left: 30px;
  }
}